!!!
%html
%head
	%title Workout
	=stylesheet_link_tag 'application', media: 'all', 'data-turbolink-track'=>true
	=javascript_include_tag 'application', 'data-turbolink-track'=>true
	=csrf_meta_tags
%body
	=yield







